*~
*.swp
*.orig
.~lock.*

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/.bundle
/vendor/bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

.byebug_history
.pry_history
.irb_history

.env
.rvmrc
.ruby-version
.ruby-gemset
.rspec
/spec/examples.txt
.tool-versions

!/**/.keep

